{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'About' %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="col-md-5">
                <h2>{% trans 'About NRS Ltd.' %}</h2>
                <p>{% blocktrans %}NorthRift Solutions Ltd is a professional services firm focused on the delivery of ICT solutions, spatial data and mobile technology solutions.
                We are designed as a one-stop source for information technology needs for a variety of industry sectors. While focused on technical applications and end-user delivery, the Company also serves the entire life-cycle from conception to implementation to sustainment of ICT projects. With this holistic view, we can package the right people, data, technology and approach to meet your needs..{% endblocktrans %}</p>

                <p>{% blocktrans %}Vision and Mission
                To specialize in the planning, design and implementation of enterprise class, spatially enabled information systems –including desktop, web, and mobile applications. NorthRift Solutions’ focus is more than data and information handling; we span the extra step of analyzing data and driving business intelligence through knowledge and understanding from all corners of the enterprise.
                Vision
                To be the leading company of able ICT professionals with capacity to deliver tailor-made and innovative solutions for sustainable development.
                Mission Statement
                To be an ICT one-stop center to provide easy access and delivery of technology solutions to local and international clientele in order to offer workable and cost-effective systems, apps and Geographical Information Systems (GIS) solutions for our clients for the enhancement of the socio-economic development agenda..{% endblocktrans %}</p>

                <p>{% blocktrans %}Our Core Values

                 Unparalleled professionalism and work ethic
                 Collaboration and teamwork
                 Results-driven and delivery
                 Quality customer service
                 Process discipline that incorporates best practices and industry standards
                 . {% endblocktrans %}</p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h2>{% trans 'Why Choose Northrift Solutions Ltd.?' %}</h2>
                <p>{% trans 'These simple reasons::' %}</p>
                <ul>
                    <li>We have able team of experienced professionals with capacity to execute project needs at very high standards
                    </li>
                    <li>We provide high quality flexible solutions that meet your immediate needs and can be scaled</li>
                    <li>We fit within the budget of the clients without compromising quality of output
                    </li>
                    <li>We consider you a strategic partner fora long-term</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
