{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Verify your address to continue" %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <p>{% blocktrans %}You should have received a link via email (to <strong>{{ email }}</strong>) now, which
                you can use to verify your address.{% endblocktrans %}</p><br>
                 <p>{% blocktrans %}<strong> NOTE : </strong> If you don't see the mail in inbox kindly check in "Spam".{% endblocktrans %}</p>
        </div>
    </section>
{% endblock content %}
